.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    color: #1c92cf;
    font-size: 3em;
  }

  & p {
    color: rgb(156, 156, 156);
    font-size: 1.4em;
  }
}
